.list {
  width: 360px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 15px;
  border-radius: 10px;
  background-color: rgb(156, 114, 121);
  box-shadow: 0 1px 1px rgba(45, 20, 24, 0.22),
    0 2px 2px rgba(45, 20, 24, 0.34),
    0 4px 4px rgba(45, 20, 24, 0.28),
    0 8px 8px rgba(45, 20, 24, 0.22);
}